:root {
  /**/
  --verde: #1d2100;
  --marron: #403700;
  --titulos: #e7c080;
  --gris: #76766e;
  --tit-blanco: #c7c4bf;
  --fondo: #141412;
  --rosa: #a22571;
  --texto: #5a5653;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
